</head>
<body bgcolor="dffef4">
<table align="center" width="400" bgcolor="ffffff">

<table align="center" width="400" bgcolor="ffffff">
    <tr>
        <th><img src="/static/m-stet.jpg" width="129" height="129" alt="poza_med" /></th>
    </tr>
</table>
<table align="center" width="600" bgcolor="ffffff" border="-1">
    <tr>
        <th><p>Pagina de admin</p></th>

    </tr>
</table>
<table align="center" width="400" bgcolor="ffffff">
         <tr>
        <th align="center"><h3 color="c2c2c2"><a href="{{url_listusers}}">Lista utilizatori</h3></th>
             <th align="center"><h3 color="c2c2c2"><a href="{{url_fisiere}}">Documente medici</h3></th>
        <th align="center"><h3 color="c2c2c2"><a href="{{url_cereri_viza}}">Cereri viza</h3></th>
    </tr>
</table>
    </table>
</body>
</html>